:root {
	--bg: white;
	--text: black;
	--inputbg: rgb(48, 48, 48);
	--glassbg: rgba(143, 143, 143, 0.3);
	--tableborder: rgb(93, 93, 93);
}

.dark {
	--bg: #2f2f2f;
	--text: white;
	--inputbg: #525252;
	--glassbg: rgba(122, 122, 122, 0.3);
	transition: 0.5s;
}

a {
	color: rgb(240, 137, 129);
	margin: 0 auto;
	padding: 0;
}

.fancyLink {
	outline: none;
	border: none;
	background-color: rgb(240, 137, 129);
	color: white;

	font-size: clamp(1rem, 1.5vw, 2rem);
	width: clamp(10rem, 20vw, 30rem);
	text-align: center;
	border-radius: 30vw;
	height: clamp(3rem, 8vh, 12rem);
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}

* {
	margin: 0;

	font-family: 'Nunito', sans-serif;
}

table {
	border-collapse: collapse;
	width: auto;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	margin-top: 2vh;
	margin-bottom: 2vh;
	border-collapse: separate;
	border: solid var(--tableborder) 3px;
	border-radius: 6px;
	width: clamp(20rem, 50vw, 60rem);
	border-spacing: 0;
}
th,
td {
	border-left: solid var(--tableborder) 2px;
	border-top: solid var(--tableborder) 2px;
	width: clamp(20rem, 50vw, 60rem);
	text-align: center;
}

th {
	font-size: clamp(1rem, 2vw, 3em);
	text-align: center;
	border-top: none;
}
td:first-child,
th:first-child {
	border-left: none;
}

hr {
	margin: 10px auto;

	width: clamp(10rem, 20vw, 25rem);
	border-radius: 10px;
	outline: none;
	border: none;

	height: 3px;
	background-color: rgb(175, 175, 175);
	border-radius: 30px;
}
ul {
	margin-left: 10px;
	list-style-position: inside;
	text-align: center;
	display: inline-block;
	margin-right: 40px;
}

ol {
	margin-left: 10px;
	list-style-position: inside;
	text-align: center;
	display: inline-block;
	margin-right: 40px;
}
body {
	font-weight: 500;
	text-align: center;

	background-color: var(--bg);
	color: var(--text);
	margin: 0;
	padding: 0;
	overflow: auto;
	transition:
		background-color 0.5s,
		color 0s,
		border-color 0.5s;
}

.fullcenterdiv {
	display: flex;

	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 2vh;
	margin-top: 3vh;
	height: 60vh;
}

.centerdiv {
	background-color: var(--bg);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 2vh;
	transition: 0.5s;
	margin-top: 3vh;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
h1 {
	font-size: clamp(2rem, 4vw, 6rem);
	font-weight: 500;
}
@starting-style {
	h1 {
		opacity: 0;
	}
}

.fadeText {
	animation: fadeIn 0.5s ease-in-out;
}
p {
	transition: opacity 0.3s;
	opacity: 1;
	font-size: clamp(1rem, 1.5vw, 2rem);
	overflow-wrap: break-word;
	word-break: break-word;
	max-width: 70vw;
	color: var(--text);
}

@starting-style {
	p {
		opacity: 0;
	}
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 15px;
	height: 15px;
	background: rgb(240, 137, 129);
	border-radius: 50%;
}

.glassBack {
	width: 40px;
	height: 40px;
	background: var(--glassbg);
	border-radius: 30px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(10.3px);

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	gap: 10px;
}

input {
	outline: none;
	border: none;
	background-color: var(--inputbg);
	color: white;

	font-size: clamp(1rem, 1.5vw, 2rem);
	width: clamp(10rem, 20vw, 30rem);
	text-align: center;
	border-radius: 30vw;
	height: clamp(3rem, 8vh, 12rem);
	padding-left: 10px;
	padding-right: 10px;
}

button {
	outline: none;
	border: none;
	background-color: rgb(240, 137, 129);
	color: white;

	font-size: clamp(1rem, 1.5vw, 2rem);
	width: clamp(10rem, 20vw, 30rem);
	text-align: center;
	border-radius: 30vw;
	height: clamp(3rem, 8vh, 12rem);
}
button:hover {
	transform: scale(1.05);
	transition: 0.2s;
}

.divider {
	width: clamp(10rem, 20vw, 25rem);
	height: 3px;
	background-color: rgb(175, 175, 175);
	border-radius: 30px;
}

.userInput {
	resize: none;
	border: none;
	outline: none;
	background-color: var(--inputbg);
	color: white;

	font-size: clamp(1.5rem, 2vw, 2.5rem);
	width: clamp(18rem, 50vw, 60rem);
	text-align: center;
	border-radius: 30px;
	height: 10vh;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	overflow: auto;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

/* Scrollbar hiding copied from StackOverFlow. Username: Hristo Eftimov */

.bottom {
	position: fixed;
	bottom: 4vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	gap: 10px;
}

.plus {
	width: 6vh;
	height: 6vh;

	font-size: 2vw;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	text-decoration: none;
	color: #000;
	transition: 0.2s;
}

.plus:hover {
	width: 7vh;
	height: 7vh;
	transition: 0.2s;

	padding: 5px;
}

h2 {
	font-size: clamp(1.5rem, 2vw, 3rem);
	font-weight: 700;
}

.messages {
	display: flex;
	align-items: center;

	flex-direction: column;
	gap: 2vh;
	margin-top: 10vh;
	padding-bottom: 7vh;
	max-width: clamp(40rem, 50vw, 60rem);
}

code {
	margin: 20px auto;
	padding-left: 20px;

	overflow-wrap: break-word;
	white-space: pre-wrap;
	display: block;
	text-align: left;
	background-color: #3f3f3f;
	color: white;
	border-radius: 30px;
	padding-top: 20px;
	padding-bottom: 20px;

	width: (50rem, 60vw, 80rem);
}

pre {
	overflow-wrap: break-word;
	white-space: pre-wrap;
	max-width: 80vw;
}

.scaryButton {
	transition: 0.2s;
}

.scaryButton:hover {
	background-color: rgb(255, 255, 255);
	color: black;
	transition: 0.2s;
}

.top {
	position: fixed;
	top: 4vh;
	display: flex;
	align-items: center;
	justify-content: center;

	gap: 10px;
}

.glass {
	background: var(--glassbg);
	border-radius: 30px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(10.3px);
	top: 5vh;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	gap: 10px;
}

.simple {
	background: none;
	width: 6vh;
	height: 6vh;
	font-size: 2vw;
	box-sizing: border-box;
	text-decoration: none;
	color: var(--text);
	transition: 0.2s;
	display: flex;
	align-items: center;
	justify-content: center;
}
.simple:hover {
	width: 7vh;
	height: 7vh;
	transition: 0.2s;
	color: rgb(240, 137, 129);
	padding: 5px;
}

.slider {
	width: clamp(15rem, 20vw, 30rem);
	padding: 0;
	appearance: none;
	-webkit-appearance: none;
	outline: none;
	border: none;
	height: 10px;

	background: rgb(56, 56, 56);
}

@keyframes pop {
	0% {
		transform: scale(0.6);
	}
	70% {
		transform: scale(1.025);
	}
	80% {
		transform: scale(1.025);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes popBack {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.05);
	}
	100% {
		transform: scale(0);
	}
}

#confirm {
	animation: popBack 0.2s ease-in-out;
	transition: 0.2s;
	transition-behavior: allow-discrete;
	display: none;
	margin: auto;
	background: rgba(177, 177, 177, 0.368);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(10.3px);
	inset: 0;
	max-width: 70vw;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	border: none;
	padding: 20px;
	border-radius: 40px;
}

@starting-style {
	#confirm:popover-open {
		opacity: 0;
		transform: scale(0.8);
	}
}

#confirm:popover-open {
	display: flex;
	margin: auto;
	animation: slide-in-bottom 0.2s ease-out;
	background: rgba(177, 177, 177, 0.368);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(10.3px);
	inset: 0;
	max-width: 70vw;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	border: none;
	padding: 20px;
	border-radius: 40px;
	animation: pop 0.15s ease-out;
}

#restart {
	animation: popBack 0.2s ease-in-out;
	transition: 0.2s;
	transition-behavior: allow-discrete;
	display: none;
	margin: auto;
	background: rgba(177, 177, 177, 0.368);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(10.3px);
	inset: 0;
	max-width: 70vw;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	border: none;
	padding: 20px;
	border-radius: 40px;
}

#restart:popover-open {
	display: flex;
	margin: auto;
	background: rgba(177, 177, 177, 0.368);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(10.3px);
	inset: 0;
	max-width: 70vw;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	border: none;
	padding: 20px;
	border-radius: 40px;
	animation: pop 0.15s ease-out;
}

.question {
	background: rgba(177, 177, 177, 0.368);
	border-radius: 30px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(10.3px);

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	padding: 20px;
	margin-top: 30px;
	padding-top: 40px;
	padding-bottom: 40px;
	max-width: 80vw;
}

.row {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	gap: 10px;
}

.scrollDiv {
	height: 10vh;
}

select {
	border: none;
	outline: none;
	border-radius: 10px;
	width: clamp(15rem, 20vw, 30rem);
	text-align: center;
	background: rgb(56, 56, 56);
	color: white;
}

img {
	border-radius: 40px;

	max-width: 80vw;
	height: auto;
}
